<style>


.timeline__item--year {
    text-align: center;
    max-width: 250px;
    margin: 0 48px 0 auto;
    font-size: 1.8rem;
    line-height: 1;
    border-image: none;
    padding: .5rem 1rem 1rem;
    background-color: #fff;
}

.timeline__item {
    padding: 1rem;
    border: 2px solid hotpink;
    border-image: linear-gradient(to right, skyblue 0%, hotpink 100%);
    border-image-slice: 1;
    position: relative;
    margin: 1rem 3rem 1rem 1rem;
    clear: both;
}


.timeline__item:after, .timeline__item:before {
    content: '';
    position: absolute;
}

.timeline {
    position: relative;
    padding: 1rem;
    margin: 0 auto;
    max-width: 1300px;
}

.timeline:before {
    content: '';
    position: absolute;
    height: 100%;
    border: 1px solid hotpink;
    right: 40px;
    top: 0;
}

.timeline__item {
    padding: 1rem;
    border: 2px solid hotpink;
    border-image: linear-gradient(to right, skyblue 0%, hotpink 100%);
    border-image-slice: 1;
    position: relative;
    margin: 1rem 3rem 1rem 1rem;
    clear: both;
}


</style>

<section id="schedule" class="b-item">
    <h2 class="timeline__item timeline__item--year" style="font-weight: 600;">SCHEDULE</h2>
    <div class="timeline">


        <div class="timeline__item">
            <h3 class="timeline__title">16th Mar 9:00 PM :- Opening Ceremony</h3>
            <!-- <p class="timeline__blurb">9:00 PM :- Opening Ceremony</p> -->
        </div>
        <div class="timeline__item">
            <h3 class="timeline__title">17th Mar 12:00 AM :- Registration</h3>
            <!-- <p class="timeline__blurb">12:00 AM :- Registration</p> -->
        </div>
        <div class="timeline__item">
            <h3 class="timeline__title">17th Mar 11:00 AM :- Lunch</h3>
            <!-- <p class="timeline__blurb">11:00 AM :- Lunch</p> -->
        </div>
        <div class="timeline__item">
            <h3 class="timeline__title">17th Mar 7:30 PM :- Goodies Distribution</h3>
            <!-- <p class="timeline__blurb">7:30 PM :- Goodies Distribution</p> -->
        </div>
        <div class="timeline__item">
            <h3 class="timeline__title">17th Mar 8:00 PM :- Dinner</h3>
            <!-- <p class="timeline__blurb">8:00 PM :- Dinner</p> -->
        </div>
        <div class="timeline__item">
            <h3 class="timeline__title">18th Mar 12:00 AM :- Tshirt Distribution</h3>
            <!-- <p class="timeline__blurb">12:00 AM :- Tshirt Distribution</p> -->
        </div>
        <div class="timeline__item">
            <h3 class="timeline__title">18th Mar 10:00 AM :- Breakfast</h3>
            <!-- <p class="timeline__blurb">10:00 AM :- Breakfast</p> -->
        </div>
        <div class="timeline__item">
            <h3 class="timeline__title">18th Mar 10.30 AM - 1.30PM :- Presentation and evaluation by Judges</h3>
            <!-- <p class="timeline__blurb">10.30 AM - 1.30PM :- Presentation and evaluation by Judges</p> -->
        </div>
        <div class="timeline__item">
            <h3 class="timeline__title">18th Mar 5:00 PM :- Prize Distribution &amp; Feedback Session</h3>
            <!-- <p class="timeline__blurb">5:00 PM :- Prize Distribution & Feedback Session</p> -->
        </div>
    </div>
</section>
