<style>
  .table td,
  .table th {
    border-top: inherit;
  }

  .table-hover tbody tr:hover {
    color: white;
    background-color: rgb(239, 68, 71);
  }
</style>

<section id="timeline" class="cd-container">
  <div class="row" style="margin-bottom: -3em;">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">Schedule of Events</h2>
      <h3 class="section-subheading text-muted">Hacking, Workshops, and more</h3>
    </div>
  </div>
  <div class="schedule" align="center">
    <h2 class="text-color"> Coming Soon - with a focus on workshops and fun.</h2>
    <br>

  </div>
</section>
<!-- cd-timeline -->
