<style>
  .table td,
  .table th {
    border-top: inherit;
  }

  .table-hover tbody tr:hover {
    color: white;
    background-color: rgb(239, 68, 71);
  }
</style>

<section id="timeline" class="cd-container">
  <div class="row" style="margin-bottom: -3em;">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">Schedule of Events</h2>
      <h3 class="section-subheading text-muted">Hacking, Workshops, and more</h3>
    </div>
  </div>
  <div class="schedule" align="center">
    <h2 class="text-color"> Friday - April 27th</h2>
    <br>
    <table class="table table-hover" style="width:100%" align="center">
      <tr>
        <th>Time</th>
        <th>Event</th>
        <th>Location</th>
      </tr>
      <tr>
        <td>6:00 PM</td>
        <td>Check in and waitlist standby</td>
        <td>Ames Hall front door</td>
      </tr>
      <tr>
        <td>6:30 PM</td>
        <td>Box Dinner</td>
        <td>Ames Hall front door</td>
      </tr>
      <tr>
        <td>7:00 PM</td>
        <td>Opening Ceremony and prize announcements</td>
        <td>Main Hall</td>
      </tr>
      <tr>
        <td>8:00 PM</td>
        <td>Hacking Begins</td>
        <td>Everywhere</td>
      </tr>
      <tr>
        <td>8:00 PM</td>
        <td>Tech & Tells and Meet Mentors</td>
        <td>Main Hall</td>
      </tr>
      <tr>
        <td>8:30 PM</td>
        <td>Team Creation meet up</td>
        <td>HQ - B117</td>
      </tr>
      <tr>
        <td>9:00 PM</td>
        <td>Solidity 101 - Basics of a Smart Contract</td>
        <td>Main Hall</td>
      </tr>
      <tr>
        <td>10:00 PM</td>
        <td>Is your idea terrible? with John Wolpert</td>
        <td>B112</td>
      </tr>
      <tr>
        <td>10:30 PM</td>
        <td>Solidity 202 - Events and Deploying</td>
        <td>Main Hall</td>
      </tr>
      <tr>
        <td>11:00 PM</td>
        <td>Jackbox games</td>
        <td>HQ - B117</td>
      </tr>
      <tr>
        <td>11:59 PM</td>
        <td>Midnight Snack</td>
        <td>HQ - B117</td>
      </tr>
    </table>
  </div>

  <div class="schedule" align="center">
    <h2 class="text-color"> Saturday - April 28th</h2>
    <br>
    <table class="table table-hover" style="width:100%" align="center">
      <tr>
        <td>8:00 AM</td>
        <td>Breakfast</td>
        <td>Food Cubby</td>
      </tr>
      <tr>
        <td>11:00 AM</td>
        <td>Ethereum on the Web - Intro to Web3.js</td>
        <td>Main Hall</td>
      </tr>
      <tr>
        <td>11:30 AM</td>
        <td>Intro to IPFS Workshop</td>
        <td>B112</td>
      </tr>
      <tr>
        <td>12:00 PM</td>
        <td>Building a Blockchain Explorer</td>
        <td>Main Hall</td>
      </tr>
      <tr>
        <td>1:00 PM</td>
        <td>Lunch</td>
        <td>Food Cubby</td>
      </tr>
      <tr>
        <td>2:00 PM</td>
        <td>ConsenSys Networking Break</td>
        <td>Cafe</td>
      </tr>
      <tr>
        <td>3:00 PM</td>
        <td>Guided DC Monument Tour</td>
        <td>Meet outside in the quad</td>
      </tr>
      <tr>
        <td>6:00 PM</td>
        <td>Dinner</td>
        <td>Food Cubby</td>
      </tr>
      <tr>
        <td>7:00 PM</td>
        <td>Pitch Practice and Feedback</td>
        <td>Main Hall</td>
      </tr>
      <tr>
        <td>8:00 PM</td>
        <td>12 Hours left! Check in and snacks</td>
        <td>HQ - B117</td>
      </tr>
      <tr>
        <td>11:59 PM</td>
        <td>Last of the snacks</td>
        <td>HQ - B117</td>
      </tr>
    </table>
  </div>

  <div class="schedule" align="center">
    <h2 class="text-color"> Sunday - April 29th</h2>
    <br>
    <table class="table table-hover" style="width:100%" align="center">
      <tr>
        <td>8:00 AM</td>
        <td>Submit your Hack on Devpost</td>
        <td>Everywhere</td>
      </tr>
      <tr>
        <td>8:30 AM</td>
        <td>Breakfast</td>
        <td>Food Cubby</td>
      </tr>
      <tr>
        <td>9:00 AM</td>
        <td>Judging starts</td>
        <td>B114 and B115</td>
      </tr>
      <tr>
        <td>11:00 AM</td>
        <td>Awards</td>
        <td>Main Hall</td>
      </tr>
      <tr>
        <td>6:00 PM</td>
        <td>Super cool after party</td>
        <td>Tompkins Hall - Room M06. <br>Take the shuttle to Foggy Bottom</td>
      </tr>
    </table>
  </div>
</section>
<!-- cd-timeline -->
