<section class="" id="faqs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Frequently Asked Questions</h2>
                <h3 class="section-subheading text-muted">We have the answers</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <div class="accordion" id="accordion2">
                    <!-- Example item-->
                    <!--
                  <div class="accordion-group">
                      <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">WQUESTION QQUESTION QQUESTION</a>
                      </div>
                      <div id="collapseOne" class="accordion-body collapse">
                          <div class="accordion-inner">
                              answer answer answer
                          </div>
                      </div>
                  </div>-->
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">What is a Hackathon?</a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse">
                            <div class="accordion-inner">
                                A hackathon is best described as an “invention marathon”. Anyone who has an interest in technology attends a hackathon to learn, build, & share their creations over the course of a weekend in a relaxed and welcoming atmosphere. You don’t have to be a programmer
                                and you don’t have to be majoring in Computer Science. We have cool hardware to play with and lots of workshops to introduce participants to technology.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">What is Hackital?</a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Hackital is a hackathon in the capital. We are focused on mentorship and learning. We give participants resources and incentives to go out of their way to learn new things from each other and apply the skills they have. By the end of a hackathon weekend we hope people will have created cool new things and also become better problem solvers.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#c3">  Who can participate?</a>
                        </div>
                        <div id="c3" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Anyone can apply to participate in the Hackathon. Applications are based on interest in Ethereum and demonstrated ability to code or meaningfully contribute to a project. Applications from any corner of the globe will be accepted. PLEASE NOTE that non-technical
                                contributors are welcome as well. If you have something you think you can add to the ecosystem – whether it's a knack for crafting white papers to explain dApps, a creative or artistic perspective, or an entrepreneurial
                                vision – we'd welcome your talents and skills on one of the Hackathon teams.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#c4">  How much does this event cost to attend?</a>
                        </div>
                        <div id="c4" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Short answer: nothing.
                                <br> Longer answer: Hackathons are great places to learn new things and exchange ideas. We think that charging for admission would seriously diminish this so there will never be any charge for attending any Hackital event.

                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#c5">
                              Will there be food?</a>
                        </div>
                        <div id="c5" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Yes, food (and soylent!) will be provided while you are at the event. We will have veggie options and accommodate anyone’s specific needs.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#c6">
                                    Is there a travel reimbursement?</a>
                        </div>
                        <div id="c6" class="accordion-body collapse">
                            <div class="accordion-inner">
                                No, unfortunately, we can’t offer any reimbursements.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#c7">
                                    How do I get to George Washington University</a>
                        </div>
                        <div id="c7" class="accordion-body collapse">
                            <div class="accordion-inner">
                                We are very accessable via metro and there is parking nearby.

                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#c8">
                          Where will I sleep?</a>
                        </div>
                        <div id="c8" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Grab a soylent and some coffee and hack through the night! If that doesn’t appeal to you, we will have gender separated silent dark rooms but don’t provide any sleeping accommodations, so bring your own sleeping bag if you’d like to lay down at some point.
                                <br>
                                There will be shuttles between our venue and the corner of 23rd and G Streets running all day throughout the hackathon, which is close to the DC monuments and several hotels.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#c9">
                              What if I don’t have an idea / team / solidity skills?</a>
                        </div>
                        <div id="c9" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Not a problem! You can find all things you can find at the event. You may also want to use the event’s facebook page to find team members with similar interests or different skills. This will be made a few weeks before the event.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#c10">
                                  What are the prizes?</a>
                        </div>
                        <div id="c10" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Prizes will be announced at Hackital’s opening ceremonies. We’re excited to announce them! There will also be several cash bounties up for grabs by our sponsors and friends.

                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#c11">
                                      What should I bring?</a>
                        </div>
                        <div id="c11" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Bring a valid ID, anything you need to hack with (like a laptop), toiletries, and some enthusiasm! Additionally you might want to bring a sleeping bag & pillow if you plan on sleeping, and a change of clothes. An extension cord / surge protector would
                                be great too.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#c12">
                                Can I start working before the event?</a>
                          </div>
                          <div id="c12" class="accordion-body collapse">
                              <div class="accordion-inner">
                                No. We want to see what you can come up with in one weekend.
                            </div>
                        </div>
                  </div>

                <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#c13">
                                  How does judging work?</a>
                        </div>
                        <div id="c13" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Every team will get a few minutes to pitch their idea and show a demo to a panel of experienced judges. We want to focus on technical difficulty and not just UI.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#c14">How big can my team be?</a>
                        </div>
                        <div id="c14" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Teams can be as large as you like, but prizes are only for teams of up to 4 people so we suggest you aim for teams of 4.
                            </div>
                        </div>
                      </div>

                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#c15">
                                          Can I still come to Hackital if I am not participating in the hackathon?</a>
                            </div>
                            <div id="c15" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    Unfortunately, we will not have space. However, follow us on social media because we may be running additional workshops throughout the year.

                                </div>
                            </div>
                        </div>

                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#c16">
                                      When will I know if I have been accepted?</a>
                            </div>
                            <div id="c16" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    Waves of acceptances go out every Wednesday night until we are full, at which point you will be notified.

                                </div>
                            </div>
                        </div>

                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#c17">
                                          What if I am new to hackathons?</a>
                            </div>
                            <div id="c17" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    There’s a first time for everything. If you’re not an experienced developer, that’s quite alright. If you’re interested in learning, even better reason to come. We’ll provide mentors, resources and workshops to help you sharpen your skills and unleash
                                    your inner awesomeness. Be eager, coachable and open. You never know what you might be able to create.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#c18">
                                          What sort of workshops will there be?</a>
                            </div>
                            <div id="c18" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    We will have several beginner level intro workshops focused on making dApps, learning Solidity, and Ethereum development fundamentals. There will also be a few deeper dive workshops for more experienced folks.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#c19">
                                      Can I leave the event to go explore DC and come back?</a>
                            </div>
                            <div id="c19" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    Yes, please do. The District is beautiful in April and the cherry blossoms may still be blooming during Hackital. We will have a shuttle going between our venue and the Foggy Bottom neighborhood, which is adjacent to the White House, Lincoln Memorial
                                    area, and a few blocks from the National Mall where the rest of the monuments are.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#c20">
                                      What if I have a question that isn’t answered here?</a>
                            </div>
                            <div id="c20" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    Email us at <a href="mailto:team@hackital.io" target="_top">team@hackital.io</a> We would love to answer any other questions you have!
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
</section>
